.popup__input {
  margin: 0;
  padding: 0;
  width: 358px;
  display: block;
  margin-right: 25px;
  margin-left: 22px;
  margin-bottom: 25px;
  padding-right: 20px;
  padding-bottom: 8px;
  box-sizing: border-box;
  align-self: center;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 644px) {
  .popup__input {
    width: 250px;
  }
}

@media screen and (max-width: 320px) {
  .popup__input {
    width: 238px;
    margin-bottom: 31px;
  }
}
