.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/icon/close-icom.png);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 644px) {
  .popup__close {
    align-items: flex-start;
    background-image: url(../../../images/icon/close-icom-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}
